body {
  max-width: 1440px;
  font-size: 1rem;
  width: 100%;
}

.noscroll {
  overflow: hidden;
}

.btn_menu.black .button-line i {
  background-color: #333;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.btn_menu.black .btn-text {
  color: #333;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header-title.black svg path {
  fill: #333;
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link-btn {
  width: 160px;
  color: #fff;
  background-color: #333;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.7rem;
  padding: 13px 10px 13px 45px;
  display: block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header-title {
  width: 260px;
  position: fixed;
  top: 20px;
  left: 4vw;
  z-index: 1;
}

.header-nav {
  display: none;
  background-color: #222222;
}

.btn_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  color: #fff;
  position: fixed;
  top: 38px;
  right: 4vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-text {
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  padding-left: 5px;
}

.button-line {
  display: block;
  position: relative;
  width: 22px;
  height: 10px;
  text-align: center;
}

.button-line i {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: opacity .5s, -webkit-transform .5s;
  transition: opacity .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s;
  transition: transform .5s, opacity .5s, -webkit-transform .5s;
}

.button-line i:nth-child(1) {
  top: 0;
}

.button-line i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}

.button-line i:nth-child(3) {
  bottom: 0;
}

.button-line.show i:nth-child(1) {
  -webkit-transform: translateY(4px) rotate(-45deg);
          transform: translateY(4px) rotate(-45deg);
}

.button-line.show i:nth-child(2) {
  opacity: 0;
}

.button-line.show i:nth-child(3) {
  -webkit-transform: translateY(-5px) rotate(45deg);
          transform: translateY(-5px) rotate(45deg);
}

nav {
  width: 312px;
  height: 100vh;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate(312px);
          transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  background-color: #222222;
  color: #fff;
  text-align: center;
  padding-top: 180px;
  z-index: 2;
}

nav a {
  color: #ffffff;
  padding-top: 30px;
}

nav li {
  padding-top: 30px;
}

nav.open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.burger-musk {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.fv {
  height: 100vh;
}

.fv-img {
  background-image: url(../image/fv.png);
  width: 78%;
  height: 86%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.fv-copy {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.fv-copy p {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.fv-copy h1 {
  color: #fff;
  font-size: 72px;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #222222;
  top: 0;
  right: 0;
  z-index: -1;
}

.about {
  margin-top: 120px;
  position: relative;
}

.about ::after {
  content: "";
  width: 100%;
  height: 114px;
  background-color: #F0F0F0;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.about-inner {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(../image/about.png);
  height: 607px;
  padding: 110px 0 110px 50px;
}

.about-text {
  max-width: 590px;
  background-color: rgba(255, 255, 255, 0.95);
  color: #333;
}

.about-text h2 {
  font-size: 2rem;
  padding: 50px 0 30px 30px;
}

.about-text p {
  color: #333333;
  padding: 0 30px 30px 30px;
}

.about-link {
  padding: 0 0 50px 30px;
}

.introduce {
  background-color: #F0F0F0;
  padding: 30px;
}

.introduce h2 {
  padding-bottom: 30px;
}

.introduce p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.introduce-inner {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-bottom: 44px;
}

.introduce-work {
  width: 47%;
}

.introduce-work img {
  width: 100%;
}

.introduce-culture {
  width: 47%;
}

.introduce-culture img {
  width: 100%;
}

.latest {
  width: 100%;
  padding: 30px;
}

.latest-inner {
  max-width: 1100px;
  margin: 0 auto;
}

.latest-inner h2 {
  font-size: 2rem;
  font-weight: bold;
}

.latest-inner ul {
  margin-left: auto;
  max-width: 700px;
}

.latest-inner ul li {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 12px;
  margin-bottom: 32px;
}

.latest-inner ul time {
  font-size: .8rem;
  color: #CECECE;
}

.latest-inner ul h3 {
  font-size: .9rem;
  color: #333333;
  font-weight: bold;
}

.latest-btn {
  margin-left: auto;
}

.contact {
  background-color: #F2F2F2;
  padding: 30px;
}

.contact-inner {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
}

.contact-left {
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}

.contact-left h2 {
  font-size: 2rem;
}

.contact-left p {
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-right {
  padding-left: 80px;
}

.contact-right img {
  max-width: 580px;
  width: 100%;
}

footer {
  background-color: #525252;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

footer p {
  font-size: 10px;
  color: #fff;
}
/*# sourceMappingURL=stylesheet.css.map */
